{% extends 'base.html' %}
{% load static %}


{% block content %}

<h3 class=" m-3">Register User</h3>

<div class=" p-5 bg-white element-shadow">

    <form action="" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class=" col-lg-6 mb-4">
                {{form.first_name}}
            </div>
            <div class=" col-lg-6 mb-4">
                {{form.last_name}}
            </div>
            <div class=" col-lg-6 mb-4">
                {{form.username}}
                {{form.username.errors}}
            </div>
            <div class=" col-lg-6 mb-4">
                {{form.email}}
                {{form.email.errors}}
            </div>
            <div class=" col-lg-6 mb-4">
                {{form.password1}}
                {{form.password1.errors}}
            </div>
            <div class=" col-lg-6 mb-4">
                {{form.password2}}
                {{form.password2.errors}}
            </div>


        </div>


        <button type="submit" class="btn btn-success">Register</button>

    </form>

</div>





{% endblock %}